<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="dist/css/bootstrap-theme.min.css">

    <!--Include configuration javascript-->
    <script src="js/config.js"></script>

    <!-- Include jQuery library -->
    <script src="dist/js/jquery-2.2.2.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="dist/js/bootstrap.min.js"></script>

    <!--Include showdown library-->
    <script src="dist/js/showdown.min.js"></script>

    <!--Include Handlebars librabry-->
    <script src="dist/js/handlebars.min.js"></script>

    <!--Include custom css-->
    <link rel="stylesheet" href="css/dashboard.css">

    <!--Include custom javascript-->
    <script src="js/dashboard.js"></script>
</head>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">
<div class="page-container">
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand inactive-link" href="#" tabindex="0" id="event-name">Event Name</a>
                <a class="navbar-brand inactive-link" href="#" tabindex="-1">|</a>
                <a class="navbar-brand inactive-link" href="#" tabindex="-1" id="round-number">Round</a>
            </div>
            <div class="hidden-lg hidden-sm hidden-md">
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#" tabindex="-1" data-toggle="modal" data-target="#instruction-modal">Instructions</a></li>
                        <li><a href="#" tabindex="-1" onclick="selectCheckboxes();">Select All</a></li>
                        <li><a href="#" tabindex="-1" onclick="clearCheckboxes();">Clear Selection</a></li>
                        <li><a href="#" tabindex="-1" data-toggle="modal" data-target="#message-modal">Send Message</a></li>
                        <li><a href="#" tabindex="-1" data-toggle="modal" data-target="#add-team-modal">Add Team</a></li>
                        <li><a href="#" tabindex="-1" data-toggle="modal" data-target="#log-out-modal">Log out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <nav class="col-sm-3 col-lg-2 hidden-xs" id="myScrollspy">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#" tabindex="-1" data-toggle="modal" data-target="#instruction-modal">Instructions</a>
                    </li>
                    <li><a href="#" tabindex="-1" onclick="selectCheckboxes()">Select All</a></li>
                    <li><a href="#" tabindex="-1" onclick="clearCheckboxes()">Clear Selection</a></li>
                    <li><a href="#" tabindex="-1" data-toggle="modal" data-target="#message-modal">Send Message</a></li>
                    <li><a href="#" tabindex="-1" data-toggle="modal" data-target="#add-team-modal">Add Team</a></li>
                    <li><a href="#" tabindex="-1" data-toggle="modal" data-target="#log-out-modal">Log out</a></li>
                </ul>
            </nav>
            <div class="col-sm-9 col-lg-10 col-xs-12">
                <div id="list-table-container" class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Mobile Number</th>
                            <th>Receipt ID</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody id="participant-table">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="participant-template" type="text/x-handlebars-template">
    {{#participant}}
    <tr class="{{isReceived smsStatus}}">
        <td><input type="checkbox" class="checkbox" title="Participant Checkbox" u16-index="{{index}}"></td>
        <td>{{{names}}}</td>
        <td>{{mobileNumber}}</td>
        <td>{{receiptId}}</td>
        <td>{{smsStatus}}</td>
    </tr>
    {{/participant}}
</script>

<!--Message-Modal-->
<div class="modal fade" id="message-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Send Your Message</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-danger sr-only" role="alert" id="alert-message-modal">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <input type="text" class="form-control" placeholder="Enter Venue (Max 25 characters)" name="venue"
                               id="venue-message-modal" maxlength="25">
                    </div>
                    <div class="col-xs-6">
                        <input type="datetime-local" class="form-control" id="date-time-message-modal"
                               title="Event date and time selector">
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="col-xs-6">
                    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Cancel</button>
                </div>
                <div class="col-xs-6">
                    <button type="button" class="btn btn-primary btn-block" id="ok-button-message-modal"
                            onclick="confirmAndSendMessage()">
                        Send Message
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Add team modal-->
<div class="modal fade" id="add-team-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Add Team</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-danger sr-only" role="alert" id="alert-add-team-modal">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label for="mobile-number-add-team-modal">Mobile Number</label>
                        <input type="number" class="form-control" placeholder="Mobile Number" name="venue"
                               id="mobile-number-add-team-modal">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12">
                        <label for="participant-names-add-team-modal">Enter Participant(s)</label>
                        <textarea name="participant-names" class="form-control"
                                  id="participant-names-add-team-modal"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-xs-6">
                    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Cancel</button>
                </div>
                <div class="col-xs-6">
                    <button type="button" class="btn btn-primary btn-block" id="ok-button-add-team-modal"
                            onclick="confirmAndAddParticipant()">
                        Add Team
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Log Out Modal-->
<div class="modal fade" id="log-out-modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p>Do you really want to log out?</p>
                <div class="modal-footer">
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-primary btn-block" onclick="logOut()">Logout
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Add Instruction modal-->
<div class="modal fade" id="instruction-modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Instructions</h2>
            </div>
            <div class="modal-body" id="content-instruction-modal">
            </div>
        </div>
    </div>
</div>

</body>
</html>