body {
    padding-top: 30px;
    padding-bottom: 20px;
}

.form-container {
    margin: auto;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.inactive-link {
    pointer-events: none;
    cursor: default;
}

.reg-text-uppercase {
    text-transform: uppercase;
}
::-webkit-input-placeholder {
    text-transform: none;
}
::-moz-placeholder {
    text-transform: none;
}
::-moz-placeholder {
    text-transform: none;
}
:-ms-input-placeholder {
    text-transform: none;
}